@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.k_float:first-child { 
  margin-left: 0;
}

.k_float { 
  width: 225px;
  margin-left:50px ;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
}

.k_table-inner {
  display: table;
}

.k_inner-box:first-child {
  padding-left: 0;
}

.k_inner-box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.k_text {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.k_inlineblock-inner {
  font-size: 0;
}

.k_inlineblock-box:first-child {
  margin-left: 0;
}

.k_inlineblock-box {
  display: inline-block;
  margin-left:50px ;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  vertical-align: middle;
}

.k_flex-inner {
  display: flex;
  align-items: flex-end;
}

.k_flex-box {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

.k_inner {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.k_left {
  display: inline-block;
  width: 300px;
}

.k_right {
  display: inline-block;  
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
}

.k_margin-text {
  font-size: 16px;
}


/* 回答はここに書いてね */
