@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7--float .q7__box:first-child{ 
  margin-left: 0;
}

.q7--float .q7__box{ 
  width: 225px;
  margin-left:50px ;
  font-size: 16px;
  float: left;
  box-sizing: border-box;
}


.q7--table .q7__inner{
  display: table;
}

.q7--table .q7__box:first-child{
  padding-left: 0;
}

.q7--table .q7__box{
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.q7--table .q7__box__text{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}


.q7--inlineblock .q7__inner{
  font-size: 0;
}

.q7--inlineblock .q7__box:first-child{
  margin-left: 0;
}

.q7--inlineblock .q7__box{
  display: inline-block;
  margin-left:50px ;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  vertical-align: middle;
}


.q7--flex .q7__inner{
  display: flex;
  align-items: flex-end;
}

.q7--flex .q7__box{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}



.q7--margin .q7__inner{
  width: 100%;
}

.q7--margin .q7__box:first-child{
 padding-left: 0; 
}

.q7--margin .q7__box{
  padding-left: 50px;
}

.q7--margin .q7__box__text:first-child{
  width: 300px;

}

.q7--margin .q7__box__text{
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
}












/* 回答はここに書いてね */
