@charset "UTF-8";

/* 回答はここに書いてね */

.list{
  table-layout: fixed;
  width: 100%;
}

tr:first-child{
  font-size:18px;
  line-height:26px;
  background-color: #2244aa;
  color:white;
}

tr:nth-child(3){
  background-color: #ecf1f2;
}

tr:nth-child(5){
  background-color: #ecf1f2;
}

tr{
  font-size:16px;
  line-height:22px;
}

tr:last-child{
  border-top: dashed #002 2px ;
}

th:first-child{
  font-size:18px;
  line-height:26px;
  background-color: #2244aa;
  color:white;
}

th{
  padding: 10px;
  border: solid #dedede 1px;
}

/* 回答はここに書いてね */
